*.class
*.iml
.settings
bin
bin/**
gen
gen/**
target
target/**
target/classes/*
.classpath
.project
.idea/**
!.gitignore
nbproject
nbproject/**
*~
*.dex
*.apk
android/local.properties
/build/
/.gradle/
